@import url("https://fonts.googleapis.com/css?family=Sora");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    background-image: linear-gradient(
      90.72deg,
      #5362e9 -9.33%,
      #6738ed 48.13%,
      #b028c8 99.23%
    );
    background-clip: text;
    color: transparent;
  }

  .bg-tabbar {
    background: linear-gradient(
      180deg,
      rgba(38, 34, 80, 0.69) 0%,
      rgba(38, 34, 80, 0.85) 57.44%,
      #17163b 100%
    );
    backdrop-filter: blur(26.5855px);
  }
}

@layer components {
  .card {
    @apply rounded-md bg-[#343141]
     hover:bg-[#4A465B]
      active:bg-[#3a3749]
      transition-colors duration-200 ease-out;
  }

  .btn-blue {
    @apply rounded-3xl px-8 py-2 bg-[#5362E9] text-white text-center
    border border-[#5362E9]
    disabled:opacity-50 disabled:cursor-not-allowed 
    hover:bg-[#6774ea] hover:disabled:bg-[#5362E9]
    active:bg-[#5362E9]
    transition-colors duration-200 ease-out;
  }

  .btn-transparent {
    @apply rounded-3xl p-3 border border-white bg-transparent text-white
     hover:bg-[#5362E9] hover:border-[#5362E9]
      active:bg-transparent active:border-white
      transition-colors duration-200 ease-out;
  }

  .btn-degraded {
    background: linear-gradient(
      90deg,
      #5362e9 29.17%,
      #9a2ed1 71.14%,
      #e63d70 126.83%
    );

    &:hover {
      background: #9a2ed1;
    }

    &:disabled:hover {
      background: linear-gradient(
        90deg,
        #5362e9 29.17%,
        #9a2ed1 71.14%,
        #e63d70 126.83%
      );
    }

    @apply rounded-3xl
    transition-colors duration-200 ease-out 
    disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .btn-plain {
    @apply rounded-3xl p-3 bg-transparent text-white text-opacity-80
      hover:text-opacity-100 active:text-opacity-80
      transition-colors duration-200 ease-out;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 30px currentColor inset !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
